<a href="https://colab.research.google.com/github/hetpatelofficial/ClointFusion/blob/master/PythonByNV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Colab for the classroom

This is an "Google Colab" notebook. It's a shared document where everybody can see and make changes to the same document.

The first few problems will get us acquainted with working together;

1.Go to file in the upper left corner

2.Click Save copy in drive

3.Follow along and use your own notebook!

In [ ]:
# This is a comment
# in a code cell
# Press shift + enter to execute a cell
# Nothing will print from this cell since these are all comments

#   **What is Python?**


Python is an open-source object-oriented programming language. It first 
appeared in 1991 and has become extremely popular among data scientists. StackOverflow calls it as the fastest growing programming language.

It is used for:

*   Web development
*   Software Development
*   Mathematics
*   System Scripting and Much more


# **What Python can do?**

*   Python can be used on a server to create web applications.
*   Python can be used alongside software to create workflows.
*   Python can connect to database systems. It can also read and modify files.
*   Python can be used to handle big data and perform complex mathematics.
*   Python can be used for rapid prototyping, or for production-ready software development.

# Why Learn Python?
Python’s syntax is very simple hence it's easy for the beginners to understand. The lines of code required for a task is less compared to other languages.


*  Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
*  Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
*  Python can be treated in a procedural way, an object-orientated way or a functional way.

# **Let’s look at some cool features of Python:**

1.   Simple and easy to learn
2.   Free and Open Source
3.   Portable
4.   Supports different programming paradigm
5.   Extensible

# **Python Applications:**
​
1.    Artificial Intelligence
2.    Desktop Application
3.    Automation
4.    Web Development
5.    Data Wrangling, Exploration
6.    Visualization



---


Hello world!` Note that parenthesis is needed for python 3`

---

In [ ]:
print ('Hello world')

Hello world

# **Comments:**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment, this line will not execute.

print("Yoooo!")

Yoooo!

*   Comments can be used to explain Python code.

*   Comments can be used to make the code more readable.
*   Comments can be used to prevent execution when testing code.
*   In `Colab` we have a option to comment a block using `ctrl+/`

In [ ]:
print("Comment in colab line 1")
print("Comment in colab line 2")
print("Comment in colab line 3")
print("select all the lines and then do crtl+/ to comment and again to reverse back")

Comment in colab line 1
Comment in colab line 2
Comment in colab line 3
select all the lines and then do crtl+/ to comment and again to reverse back

# **Variables in Python:**

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

In Python you don’t need to declare variables before using it, unlike other languages like Java, C etc.

# **Assigning values to a variable:**

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. 
The equal sign (=) is used to assign values to variables.

In [ ]:
x = 11 
y = "PYTHON" 
print(x)
print(y)

11
PYTHON

Variables do not need to be declared with any particular type and can even change type after they have been set.

In [ ]:
x = 4 # x is of type int
x = "Frost forbite" # x is now of type str
print(x)

Frost forbite

String variables can be declared either by using single or double quotes:

In [ ]:
x = "Marcus Burns"
# is the same as
x = 'Marcus Burns'
y = 10

At any point if you want to see the `type of the variable` like `int` or `str` use `type()` function.

In [ ]:
a = 2
b = 1.5
c = 'Coding'
print (type(a))
print (type(b))
print (type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# **Assign Value to Multiple Variables:**

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Apples", "Grapes", "Mangoes" #very useful in spliting the data
print(x)
print(y)
print(z)

Apples
Grapes
Mangoes

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Kiwi"
print(x)
print(y)
print(z)

Kiwi
Kiwi
Kiwi

# **Data Types in Python:**
Python supports various data types, these data types defines the operations possible on the variables and the storage method. 


* Text Type:	`str`
* Numeric Types:	`int, float, complex`
* Sequence Types:	`list, tuple, range`
* Mapping Type:	`dict`
* Set Types:	`set, frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes, bytearray, memoryview`

# **Getting the Data Type:**

You can get the data type of any object by using the type() function:

In [ ]:
a = 2
b = 1.5
c = 'Coding'
print (type(a))
print (type(b))
print (type(c))

<class 'int'>
<class 'float'>
<class 'str'>

**Numeric:**

Just as expected Numeric data types store numeric values. They are immutable data types, this means that you cannot change it’s value. Python supports three different Numeric data types:

1. Integer type: It holds all the integer values i.e. all the positive and negative whole numbers, example – 10.

2. Float type: It holds the real numbers and are represented by decimal and sometimes even scientific notations with E or e indicating the power of 10 (2.5e2 = 2.5 x 102 = 250), example – 10.24.

3. Complex type: These are of the form a + bj, where a and b are floats and J represents the square root of -1 (which is an imaginary number), example – 10+6j.

Now you can even perform type conversion. For example, you can convert the integer value to a float value and vice-versa.

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
# we usually use int conversion for some values in ML
a = 8.16
# Convert it into int type
b = int(a)
print(b)

8

# **Strings:**

Strings are amongst the most popular data types in Python. We can create them simply by enclosing characters in quotes. Python treats single and double quotes in exactly the same fashion.

**String Methods**

Python has a set of built-in methods that you can use on strings.

---

*   **capitalize()**	Converts the first character to upper case
---
*  **casefold()**	Converts string into lower case
---
*   **center()**	Returns a centered string
---
*   **count()**	Returns the number of times a specified value occurs in a string
---
*   **encode()**	Returns an encoded version of the string
---
*   **endswith(**)	Returns true if the string ends with the specified value
---
*   **isalpha()**	Returns True if all characters in the string are in the alphabet
---
*   **isdecimal()**	Returns True if all characters in the string are decimals
---
*   **isdigit()**	Returns True if all characters in the string are digits
---

*   **isidentifier()**	Returns True if the string is an identifier
---

*   **expandtabs()**	Sets the tab size of the string
---

*   **find()**	Searches the string for a specified value and returns the position of where it was found
---
*   **format()**	Formats specified values in a string
---

*   **format_map()**	Formats specified values in a string
---

*   **index()**	Searches the string for a specified value and returns the position of where it was found
---

*   **isalnum()**	Returns True if all characters in the string are alphanumeric
---
*   **islower()**	Returns True if all characters in the string are lower case
---
*   **isnumeric()**	Returns True if all characters in the string are numeric
---
*   **isprintable()**	Returns True if all characters in the string are printable
---
*   **isspace()**	Returns True if all characters in the string are whitespaces
---
*   **istitle()**	Returns True if the string follows the rules of a title
---

* **isupper()**	Returns True if all characters in the string are upper case
---
* **join()**	Joins the elements of an iterable to the end of the string
---
* **just()**	Returns a left justified version of the string
---
* **lower()**	Converts a string into lower case
---
* **lstrip()**	Returns a left trim version of the string
---
* **maketrans()**	Returns a translation table to be used in translations
---
* **partition()**	Returns a tuple where the string is parted into three parts
---
* **replace()**	Returns a string where a specified value is replaced with a specified 
value
---
* **rfind()**	Searches the string for a specified value and returns the last position 
of where it was found
---
* **rindex()**	Searches the string for a specified value and returns the last position of where it was found
---
* **rjust()**	Returns a right justified version of the string
---
* **rpartition()**	Returns a tuple where the string is parted into three parts
---
* **rsplit()**	Splits the string at the specified separator, and returns a list
---
* **rstrip()**	Returns a right trim version of the string
---
* **split()**	Splits the string at the specified separator, and returns a list
---
* **splitlines()**	Splits the string at line breaks and returns a list
---
* **startswith()**	Returns true if the string starts with the specified value
---
* **strip()**	Returns a trimmed version of the string
---
* **swapcase()**	Swaps cases, lower case becomes upper case and vice versa
---
* **title()**	Converts the first character of each word to upper case
---
* **translate()**	Returns a translated string
---
* **upper()**	Converts a string into upper case
---
* **zfill()**	Fills the string with a specified number of 0 values at the beginning
---

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
#Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

---

**Modify Strings**

---

**Upper Case** in string.


The` upper() `method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

The `lower()` method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.


The ` strip() ` method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

The `replace()` method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**Split String**


*   The `split()` method returns a list where the text between the specified separator becomes the list items.

*   The `split()` method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']



---


**String Concatenation**



---

**Merge variable**`a` with variable `b` into variable` c`:

In [ ]:
a = "Hello"
b = "World"
c = a + b
d = a + " " + b
print(c)
print(d)

HelloWorld
Hello World



---


**Format - Strings**


---

As we learned **we cannot combine strings and numbers like this**:

In [ ]:
age = 29
txt = "My name is PYTHON, I am " + age
print(txt)

TypeError: ignored

But **we can combine strings and numbers by using the** `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [ ]:
age = 29
txt = "My name is PYTHON, and I am {}"
print(txt.format(age))

My name is PYTHON, and I am 29

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

Can use index numbers `{0}` to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python Booleans

Booleans **represent one of two values**: `True` or `False`.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False



---


**Evaluate Values and Variables**


---

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

Evaluate Example

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

Following will get only false value

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

# Operators

Python divides the operators in the following groups:



1.   **Arithmetic operators**

1.   **Assignment operators**

1.  **Comparison operators**
2.   **Logical operators**

2.  **Identity operators**

8. **Bitwise operators**

**Arithmetic Operators**


---

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

Operator	Meaning	Example
1.	**(+)** Add two operands or unary plus
2.	**(-)** Subtract right operand from the left or unary minus	
1.	**(*)** Multiply two operands
1.	**(/)** Divide left operand by the right one (always results into float)	
1.  **(%)**	Modulus - remainder of the division of left operand by the right	     
1.	**(//)** Floor division - division that results into whole number adjusted to the left in the number line
1.	**( ** )** Exponent - left operand raised to the power of right

In [ ]:
x = 15
y = 4

print('x + y =',x+y)

print('x - y =',x-y)

print('x * y =',x*y)

print('x / y =',x/y)

print('x // y =',x//y)

print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:345
The number of digits in the number are: 3

**Assignment Operators**


---


**(=)** :- 	Assigns values from right side operands to left side operand	

**(+=)** :-  Add AND	It adds right operand to the left operand and assign the result to left operand	

**(-=)** :-  Subtract AND	It subtracts right operand from the left operand and assign the result to left operand	

**(*=)** :-  Multiply AND	It multiplies right operand with the left operand and assign the result to left operand	

**(/=)** :-  Divide AND	It divides left operand with the right operand and assign the result to left operand	

**(%=)** :-  Modulus AND	It takes modulus using two operands and assign the result to left operand	


**( **=)** :-  Exponent AND	Performs exponential (power) calculation on operators and assign value to the left operand	

**(//=)** :- Floor Division	It performs floor division on operators and assign value to the left operand

In [ ]:
a = 10
b = 10


c = a + b
print("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c) 

c *= a
print ("Line 3 - Value of c is ", c) 

c /= a 
print ("Line 4 - Value of c is ", c) 

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ",c)

Line 1 - Value of c is  20
Line 2 - Value of c is  30
Line 3 - Value of c is  300
Line 4 - Value of c is  30.0
Line 5 - Value of c is  2
Line 6 - Value of c is  1024
Line 7 - Value of c is  102

**Bitwise operators**


---
1. (&)	Bitwise AND	

1. (|) XOR	

1. (>>)	Bitwise right shift	

1. (<<)	Bitwise left shift

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("Line 1 - c = a & b is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - c = a | b is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - c = ~a is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - c = a << 2 is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - c = a >> 2 is ", c)

Line 1 - c = a & b is  12
Line 2 - Value of c is  61
Line 3 - c = a | b is  49
Line 4 - c = ~a is  -61
Line 5 - c = a << 2 is  240
Line 6 - c = a >> 2 is  15

**Comparison operators**


---

Comparison operators are used to compare values. It returns either `True` or `False` according to the condition.

---
**(==)** :-	If the values of two operands are equal, then the condition becomes true.	

**(!=)** :-	If values of two operands are not equal, then condition becomes true.	

**(<>)** :-		If values of two operands are not equal, then condition becomes true.	

**(>)** :-		If the value of left operand is greater than the value of right operand, then condition becomes true.	

**(<)** :-		If the value of left operand is less than the value of right operand, then condition becomes true.

**(>=)** :-		If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.

**(<=)** :-		If the value of left operand is less than or equal to the value of right operand, then condition becomes true.


---

In [ ]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

**Logical operators**

* ( and ) to check if the LHS and RHS conditions both conditions are satisfied. Basically checking for truthy values

* ( or ) to check if atleast one of the side satisfy the condition. Basically checking for truthy values

* ( not ) to check if the condition is not satified. Basically checking for falsy values

In [ ]:
x = True
y = False
 
print('x and y is',x and y)
 
print('x or y is',x or y)
 
print('not x is',not x)

x and y is False
x or y is True
not x is False

 **Identity Operators**

[ `is`	] :- Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.	

[ `is not` ] :-	Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

#  Lists

1. **append()**	:- Adds an element at the end of the list

1. **clear()**	:- 	Removes all the elements from the list

1. **copy()**	:- 	Returns a copy of the list

1. **count()**	:- 	Returns the number of elements with the specified value

1. **extend()**	:- 	Add the elements of a list (or any iterable), to the end of the current list

1. **index()**	:- 	Returns the index of the first element with the specified value

1. **insert()**	:- 	Adds an element at the specified position

1. **pop()**	:- 	Removes the element at the specified position

1. **remove()**	:- 	Removes the item with the specified value

1. **reverse()**	:- 	Reverses the order of the list

1. **sort()**		:- Sorts the list

The list is a most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that items in a list need not be of the same type.

Creating a list is as simple as putting different comma-separated values between square brackets.

EXAMPLE :-

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

Similar to string indices, list indices start at 0, and lists can be sliced, concatenated and so on.

 **Accessing Values in Lists**

There are various ways in which we can access the elements of a list.

**List Index**

* We can use the index operator [] to access an item in a list. In Python, indices start at 0. So, a list having 5 elements will have an index from 0 to 4.

* Trying to access indexes other than these will raise an IndexError. The index must be an integer. We can't use float or other types, this will result in TypeError.

Nested lists are accessed using nested indexing.

EXAMPLE :-

In [ ]:
# List indexing

my_list = ['p', 'r', 'o', 'b', 'e']

# Output: p
print(my_list[0])

# Output: o
print(my_list[2])

# Output: e
print(my_list[4])

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

# Error! Only integer can be used for indexing
print(my_list[4.0])

**Negative indexing**

* Python allows negative indexing for its sequences. 

* The index of -1 refers to the last item, -2 to the second last item and so on.

In [ ]:
# Negative indexing in lists
my_list = ['p','y','t','h','o','n']

print(my_list[-1])

print(my_list[-5])

n
y

**Change Item Value**

* To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**

* To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print(thislist)
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

**Insert Items**

* To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

* The `insert()` method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'watermelon', 'cherry']

**Append Items**

* To add an item to the end of the list, use the `append()` method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

**Insert Items**

* To insert a list item at a specified index, use the `insert()`method.

* The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(1, "orange")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'orange', 'banana', 'cherry']

**Extend List**

* To append elements from another list to the current list, use the `extend()` method.

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']



---


**Remove List Items**


---

**Remove Specified Item**

* The `remove()` method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.remove("banana")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']

**Remove Specified Index**

* The `pop()` method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.pop(1)
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']

**NOTE** :- If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana']

**`del` funtion**

* The del keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
# No output will be there as we have used del keyword

**Clear the List**

* The `clear()` method empties the list.

* The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]



---


**Sort Lists**


---

**Sort List Alphanumerically**

* List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

**Sort Descending**
* To sort descending, use the keyword argument reverse = True:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

**Join Lists**

* There are several ways to join, or concatenate, two or more lists in Python.

* One of the easiest ways are by using the + operator.

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another list:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Tuples

* A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists.

* The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

* Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuple Length**

* To determine how many items a tuple has, use the `len() `function:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**The tuple() Constructor**

* It is also possible to use the `tuple()` constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

**Access Tuple Items**

* To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index.

  * There are many ways for access tuples

1. **Indexing**

We can use the index operator `[ ]` to access an item in a tuple, where the index starts from 0.

 * So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range
 
    (6,7,... in this example) will raise an `IndexError`.

 * The index must be an integer, so we cannot use float or other types. This will result in `TypeError`.

In [ ]:
# Accessing tuple elements using indexing
my_tuple = ('p','y','t','h','o','n')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
n
s
4

2. **Negative Indexing**

 * Python allows negative indexing for its sequences.

 * The index of -1 refers to the last item, -2 to the second last item and so on.

In [ ]:
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

n
p

3. Slicing

 * We can access a range of items in a tuple by using the slicing operator colon `:`  .

In [ ]:
# Accessing tuple elements using slicing
my_tuple = ('p','y','t','h','o','n','s','i','r','j')


print(my_tuple[1:4])


print(my_tuple[:-7])


print(my_tuple[7:])


print(my_tuple[:])

('y', 't', 'h')
('p', 'y', 't')
('i', 'r', 'j')
('p', 'y', 't', 'h', 'o', 'n', 's', 'i', 'r', 'j')

**Change Tuple Values**

1. Unlike lists, tuples are immutable.

 * This means that elements of a tuple cannot be changed once they have been assigned.

 * But, if the element is itself a mutable data type like a list, its nested items can be changed.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Add Items in tuple**

 * Once a tuple is created, you cannot add items to it.
 * For changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

 * We can use `+` operator to combine two tuples. This is called **concatenation**.

 * We can also repeat the elements in a tuple for a given number of times using the `*` operator.

 * Both `+` and `*` operations result in a new tuple.

In [ ]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

**Remove Items**
 * Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

**Delete Tuple Elements**

 * Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

 * To explicitly remove an entire tuple, just use the del statement

In [ ]:
# Deleting tuples
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 's', 'i', 'r', 'j')

del my_tuple

**Unpacking a Tuple**

 * When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Using Asterisk**  `*`

- If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

- If the asterix is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

 **Join Two Tuples**

 To join two or more tuples you can use the `+` operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply Tuples**


If you want to multiply the content of a tuple a given number of times, you can use the `*` operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Sets

1. A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

 * However, a set itself is mutable. We can add or remove items from it.

2. Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

**Creating Python Sets**

 * A set is created by placing all the items (elements) inside curly braces `{}`, separated by comma, or by using the built-in `set()` function.

 * It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{'cherry', 'banana', 'apple'}
{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

**Set Items**

 * Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**

 * Unordered means that the items in a set do not have a defined order.

 * Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**

* Sets are unchangeable, meaning that we cannot change the items after the set has been created.

**Duplicates Not Allowed**

Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

**Get the Length of a Set**

To determine how many items a set has, use the `len()` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - **Data Types**

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'male', True, 34, 40, 'abc'}

`type()`

From Python's perspective, sets are defined as objects with the data type '`set`':

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**Access Set Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a` for loop`, or ask if a specified value is present in a set, by using the `in` keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("cherry" in thisset)

True

**Add Items**

- To add one item to a set use the `add()` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

- To add items from another set into the current set, use the `update()` method

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'cherry', 'banana', 'apple', 'papaya', 'pineapple'}

The object in the` update()` method does not have be a set, it can be any iterable object `(tuples, lists, dictionaries etc.).`

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'cherry', 'apple', 'orange'}

**Removing elements from a set**

A particular item can be removed from a set using the methods `discard()` and `remove()`.

The only difference between the two is that the `discard()` function leaves a set unchanged if the element is not present in the set. On the other hand, the `remove()` function will raise an error in such a condition (if element is not present in the set).

In [ ]:

my_set = {1, 3, 4, 5, 6}
print(my_set)


my_set.discard(4)
print(my_set)

my_set.remove(6)
print(my_set)

my_set.discard(2)
print(my_set)

my_set.clear()
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}
set()

Remove the last item by using the `pop()` method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

**Join Two Sets**

There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

The `union()` method returns a new set with all items from both sets:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

The `update()` method inserts the items in set2 into set1:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

The `update()` method inserts the items in set2 into set1:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

Both `union()` and `update()` will exclude any duplicate items.

**Keep ONLY the Duplicates**

The `intersection_update()` method will keep only the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The `intersection(`) method will return a new set, that only contains the items that are present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

**Keep All, But NOT the Duplicates**

The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry'}

# Dictionary

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="650" />

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5}

The keys can be strings:

In [ ]:
# Access to the value by the key

Dict["key1"]

1

Keys can also be any immutable object such as a tuple:

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

 Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however,  multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

It is helpful to visualize the dictionary as a table, as in the following image. The first column represents the keys, the second column represents the values.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsStructure.png" width="650" />

<h3 id="key">Keys</h3>

You can retrieve the values based on the names:

In [ ]:
# Get value by keys

release_year_dict['Thriller']

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyOne.png" width="500" />

Similarly for <b>The Bodyguard</b>

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyTwo.png" width="500" />

Now let you retrieve the keys of the dictionary using the method <code>release_year_dict()</code>:

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

You can retrieve the values using the method  <code>values()</code>:

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

We can add an entry:

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Graduation': '2007',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

We can delete an entry:

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976'}

 We can verify if an element is in the dictionary:

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

# **Loops:**
In general, statements are executed sequentially. The first statement in a function is executed first, followed by the second, and so on.

There may be a situation when you need to execute a block of code several number of times
A loop statement allows us to execute a statement or group of statements multiple times. 

In Python, there are three loops:

1.  While
2.  For
3.  Nested

before we go into loops understand range() function

<h3 id="range">Range</h3>

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate a sequence that contains three elements ordered from 0 to 2 we simply use the following command:

In [ ]:
# Use the range

range(3)

range(0, 3)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsRange.png" width="300" />

<h3 id="for">What is <code>for</code> loop?</h3>

The <code>for</code> loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.    
Let's try to use a <code>for</code> loop to print all the years presented in the list <code>dates</code>:

In [ ]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

The code in the indent is executed <code>N</code> times, each time the value of <code>i</code> is increased by 1 for every execution. The statement executed is to <code>print</code> out the value in the list at index <code>i</code> as shown here:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsForRange.gif" width="800" />

In this example we can print out a sequence of numbers from 0 to 7:

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In Python we can directly access the elements in the list as follows:

In [ ]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

For each iteration, the value of the variable <code>years</code> behaves like the value of <code>dates[i]</code> in the  first example:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsForList.gif" width="800">

We can change the elements in a list:

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'weight'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is weight
Before square  1 is yellow
After square  1 is weight
Before square  2 is green
After square  2 is weight
Before square  3 is purple
After square  3 is weight
Before square  4 is blue
After square  4 is weight

 We can access the index and the elements of a list as follows:

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

<h3 id="while">What is <code>while</code> loop?</h3>

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsWhile.gif" width="650" />

# **Functions:**

Functions are a convenient way to divide your code into useful blocks, allowing us to order our code, make it more readable, reuse it and save some time.

**Define a function with no arguments and no return values:**

In [ ]:
def print_text():
    print('this is text')

In [ ]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [ ]:
def print_this(x):
    print(x)

In [ ]:
# call the function
print_this(3)

3

**Define a function with one argument and one return value:**

In [ ]:
def square(x):
    return x**2
    
square(5)

25

In [ ]:
#Example

def calc(a, b, op='add'):

    if op == 'add':
        return a + b

    elif op == 'sub':
        return a - b
        
    else:
        print('valid operations are add and sub')

In [ ]:
# call the function
calc(10, 4, op='add')

14

In [ ]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [ ]:
# default for 'op' is 'add'
calc(10, 4)

14

In [ ]:
calc(10, 4, 'sub')

6

In [ ]:
marks = int (input("Enter marks : "))

if (marks < 25):
  print("Oops! you have got F grade ")

elif marks >= 25 and marks < 45:
  print("it was little good you got E grade")

elif marks >= 45 and marks < 50:
  print(" you can do more not bad you have got D grade ")

elif marks >= 50 and marks < 60:
  print("A little more push you can do more by the way we have got C grade")
elif marks >= 60 and marks < 80:
  print("Cool !! you can now chase the topper !! you got B grade")
else:
  print("You are now the topper but not the dam winner by the way you got A grade")

Enter marks : 90
you are now the topper but not the dam winner by the way you got A grade

write a function

Enter the number :- 9
False

Enter the word :- racecar
Yes